<h2 class="text-bold">Customer Form</h2>
<div class="d-flex justify-content-center">

  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <div class="row  w-100">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input type="email" matInput formControlName="name" placeholder="Enter country" />
        <mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Number</mat-label>
        <input type="text" matInput formControlName="phoneNumber" placeholder="Enter Number" />
        <mat-error></mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <input type="text" matInput formControlName="address" placeholder="Enter Address" />
        <mat-error>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <mat-select [(value)]="selectedValue" (selectionChange)="onSelectionChange()" matNativeControl
          formControlName="countryId" required>
          <mat-option *ngFor="let country of countries" [value]="country.id">
            {{ country.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="customerForm.get('countryId')?.hasError('required')">Country is
          <strong>required</strong></mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <mat-select matNativeControl formControlName="cityId" required>
          <mat-option *ngFor="let city of cities" [value]="city.id">
            {{ city.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="customerForm.get('cityId')?.hasError('required')">City is
          <strong>required</strong></mat-error>
      </mat-form-field>
      <div class="d-flex justify-content-center">
        <button type="submit" [disabled]="customerForm.invalid" class="w-25" mat-raised-button color="primary">
          Save
        </button>
      </div>

    </div>


  </form>
</div>